<extend name="Base/common"/>
<block name="style">
    <link href="__CSS__/foodorder_index.css" rel="stylesheet">
</block>
<block name="header">

</block>

<block name="body">
    <div id="dialog" title="订单详细" style="display:none;">
        <p id="dialog_content"></p>
    </div>
    <div class="row" style="margin-top:10px;">
        <div class="col-xs-12">
                <div class="thumbnail">             
                    <div class="media">
                        <div class="media-left">
                            <p>订单编号 : {$food_orders.0.order_no}</p>
                            <?php
                            if($food_orders[0]['pay_type'] == \Admin\Model\FoodOrderModel::$PAY_TYPE_WEIXIN && $food_orders[0]['status'] >= \Admin\Model\FoodOrderModel::$STATUS_WXPAYED){
                            ?>
                            <p>商户单号 : {$food_orders.0.out_trade_no}</p>
                            <?php
                            }
                            ?>
                            <p>订单金额 : {$food_orders.0.real_pay_amount}</p>
                            <p>订单状态 : <span id="status_{$food_orders.0.id}"><?php echo \Admin\Model\FoodOrderModel::getFoodOrderStatus($food_orders[0]['status']); ?></span></p>
                            <p>订单日期 : {$food_orders.0.create_time|date='Y-m-d H:i:s',###}</p>
                            <?php
                            if($food_orders[0]['meal_time']){
                            ?>
                            <p>用餐时间 : {$food_orders.0.meal_time|date='Y-m-d H:i:s',###}</p>
                            <?php
                            }
                            ?>
                        </div>
                    </div>
                    <div class="caption">
                        <p>
                            <?php
                            if($food_orders[0]['status'] == \Admin\Model\FoodOrderModel::$STATUS_DELIVERY){
                            ?>
                            <a id="finish_{$food_orders.0.id}" href="javascript:void();" onclick="finish({$food_orders.0.id});" class="btn btn-success" role="button"><i class="fa fa-check"></i> 确认完成</a>
                            <?php
                            }
                            ?>
                            <?php
                            if($food_orders[0]['status'] == \Admin\Model\FoodOrderModel::$STATUS_COMMITED  && $food_orders[0]['pay_type'] == \Admin\Model\FoodOrderModel::$PAY_TYPE_WEIXIN){
                            ?>
                            <a id="pay_{$food_orders.0.id}" href="/Wechat/FoodOrder/pay?out_trade_no={$food_orders.0.out_trade_no}&order_id={$food_orders.0.id}&t={$mp.mp_token}&showwxpaytitle=1" class="btn btn-success" role="button"><i class="fa fa-weixin"></i> 微信支付</a>
                            <?php
                            }
                            ?>
                            <?php
                            if($food_orders[0]['status'] == \Admin\Model\FoodOrderModel::$STATUS_COMMITED){
                            ?>
                            <a id="cancel_{$food_orders.0.id}" href="javascript:void();" onclick="cancel({$food_orders.0.id});" class="btn btn-default" role="button"><i class="fa fa-times"></i> 取消订单</a>
                            <?php
                            }
                            ?>
                        </p>
                    </div>
                </div>
            
            
                <div class="thumbnail"> 
                <volist name="food_orders" id="food_order">
                    <div class="media" onclick="javascript:window.location.href='/Wechat/Food/view/id/{$food_order.food_id}/t/{$mp.mp_token}'">
                            <div class="media-left">
                                    <img class="media-object" src="<?php
                                         if($food_order['detail_type'] == \Admin\Model\FoodOrderDetailModel::$TYPE_FOOD){
                                         echo \Admin\Model\FoodDetailModel::getFoodPic($food_order['food_id']); 
                                         }else{
                                         echo \Admin\Model\FoodSetmenuModel::getFoodSetmenuUrl($food_order['food_id']); 
                                         }?>" style="max-height: 150px;max-width: 150px;" id="food_img" alt="">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading" id="title">
                                        <?php 
                                        if($food_order['detail_type'] == \Admin\Model\FoodOrderDetailModel::$TYPE_FOOD){
                                        echo \Admin\Model\FoodModel::getFoodName($food_order['food_id']); 
                                        }else{
                                        echo \Admin\Model\FoodSetmenuModel::getFoodSetmenuName($food_order['food_id']);
                                        }
                                        ?>
                                </h4>
                                <p id="amount">单价:￥{$food_order.food_weixin_price}  数量:{$food_order.food_count}</p>
                                <p id="order-date">{$food_order.food_real_pay_amount}</p>
                                <?php
                                    if(($food_order['detail_type'] == \Admin\Model\FoodOrderDetailModel::$TYPE_FOOD && $food_orders[0]['status'] == \Admin\Model\FoodOrderModel::$STATUS_FINISHED) &&(\Admin\Model\FoodCommentModel::getCommentByWxopenidFoodid($this->weixin_userinfo['wx_openid']=$weixin_userinfo['wx_openid'],$food_order['food_id'],$food_order['id']) == false)){
                                ?>
                                <a id="pay_{$food_orders.0.id}" href="/Wechat/FoodComment/create/order_id/{$food_order.id}/food_setmenu_id/{$food_order.food_id}/type/{$food_order.detail_type}/t/{$mp.mp_token}" class="btn btn-warning btn-small" role="button"><i class="fa fa-comment"></i> 我要评论</a>
                                <?php
                                   }else if(($food_order['detail_type'] == \Admin\Model\FoodOrderDetailModel::$TYPE_SETMENU && $food_orders[0]['status'] == \Admin\Model\FoodOrderModel::$STATUS_FINISHED) && ($food_orders[0]['status'] == \Admin\Model\FoodOrderModel::$STATUS_FINISHED) &&(\Admin\Model\FoodCommentModel::getCommentByWxopenidFoodid($this->weixin_userinfo['wx_openid']=$weixin_userinfo['wx_openid'],$food_order['food_id'],$food_order['id']) == false)){
                                ?>
                                <a id="pay_{$food_orders.0.id}" href="/Wechat/FoodComment/create/order_id/{$food_order.id}/food_setmenu_id/{$food_order.food_id}/type/{$food_order.detail_type}/t/{$mp.mp_token}" class="btn btn-warning btn-small" role="button"><i class="fa fa-comment"></i> 我要评论</a>
                                <?php
                                }
                                ?>
                            </div>
                            <div class="media-right">
                                <i class="fa fa-chevron-right"></i>
                            </div>
                        </div>
                </volist>
                </div>
            
            <?php
            if($food_order['type'] == \Admin\Model\FoodOrderModel::$TYPE_DELIVERY_HOME){
            ?>
            <div class="thumbnail">
                <div class="media">
                    <div class="media-left">
                        {$address_info.real_name}
                    </div>

                    <div class="media-right">
                        {$address_info.phone}
                    </div>
                    <hr>
                    {$address_info.province_name}{$address_info.city_name}{$address_info.city_name}{$address_info.town_name}{$address_info.address}
                </div>
            </div>
            <?php
            }
            ?>
        </div>
        <div class="col-xs-12" style="text-align: center;">{$page}</div>
    </div>
</block>

<block name="script">
    <script type="text/javascript">
         function cancel(order_id){
             $('#cancel_'+order_id).attr('disabled', 'true');
             $.ajax({
                type: "POST",
                url: "/Wechat/FoodOrder/cancel/t/{$mp.mp_token}",
                data: {'order_id':order_id},
                success: function(data) {
                    if (data.status) {
                        $('#cancel_'+order_id).remove();
                        $('#pay_'+order_id).remove();
                        $('#status_'+order_id).html(data.info);
                    } else {
                        $('#cancel_'+order_id).removeAttr("disabled");
                        $('#dialog_content').text(data.info);
                        $("#dialog").dialog({modal: true});
                        setTimeout("result(" + data.status + ")", 1000);
                    }
                }
            });
         }
         
         function finish(order_id){
             $('#finish_'+order_id).attr('disabled', 'true');
             $.ajax({
                type: "POST",
                url: "/Wechat/FoodOrder/finish/t/{$mp.mp_token}",
                data: {'order_id':order_id},
                success: function(data) {
                    if (data.status) {
                        $('#finish_'+order_id).remove();
                        $('#status_'+order_id).html(data.info);
                    } else {
                        $('#finish_'+order_id).removeAttr("disabled");
                        $('#dialog_content').text(data.info);
                        $("#dialog").dialog({modal: true});
                        setTimeout("result(" + data.status + ")", 1000);
                    }
                }
            });
         }
         
         function result(status) {
            $("#dialog").dialog("close");
        }
    </script>
</block>
