<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>微餐饮餐厅列表</h2>
    </div>

    <div class="cf">
        <!--        <button class="btn ajax-post" url="{:U('MicroPlatform/enable')}" target-form="ids">启 用</button>
                <button class="btn ajax-post" url="{:U('MicroPlatform/disable')}" target-form="ids">禁用</button>-->

        <!-- 高级搜索 -->
                <div class="search-form fr cf">
                    <div class="sleft">
                        <input type="text" name="dining_name" class="search-input" value="{:I('dining_name')}" placeholder="请输入微餐饮餐厅名称">
                        <a class="sch-btn" href="javascript:;" id="search" url="{:U('DiningRoom/index')}"><i class="btn-search"></i></a>
                    </div>
                </div>
    </div>

    <div class="data-table table-striped">
        <table>
            <thead>
                <tr>
                    <th>微信平台</th>
                    <th>餐厅名</th>
                    <th>连锁餐厅</th>
                    <th>连锁餐厅名</th>
                    <th>地址</th>
                    <th>状态</th>
                    <th>创建时间</th>
                </tr>
            </thead>
            <tbody>
            <notempty name="list">
                <volist name="list" id="dining_room">
                    <tr>
                        <td>
                            <?php
                            echo \Admin\Model\MicroPlatformModel::getMpName($dining_room['mp_id']);
                            ?>
                        </td>
                        <td>
                            {$dining_room.dining_name}
                        </td>
                        <td>
                            <?php
                            echo \Admin\Model\MicroPlatformModel::getMpChain($dining_room['is_chain_dining']);
                            ?>
                        </td>
                        <td>
                            <?php
                            echo \Admin\Model\ChainDiningModel::getChainDiningNameById($dining_room['chain_dining_id']);
                            ?>
                        </td>
                        <td>
                            <?php
                            echo \Admin\Model\RegionModel::getRegionName($dining_room['province']).\Admin\Model\RegionModel::getRegionName($dining_room['city']).\Admin\Model\RegionModel::getRegionName($dining_room['town']).$dining_room['address'];
                            ?>
                        </td>
                        <td>
                            <?php
                            echo \Admin\Model\DiningRoomModel::getDiningRoomStatus($dining_room['status']);
                            ?>
                        </td>
                    <if condition="$dining_room.create_time neq 0">
                        <td>{$dining_room.create_time|date="Y-m-d H:i:s",###}</td>
                        <else />
                        <td>{$dining_room.create_time}</td>
                    </if>
                    </tr>
                </volist>
                <else/>
                <td colspan="6" class="text-center">未检索微餐饮连锁餐厅信息</td>
            </notempty>
            </tbody>
        </table>
        <!-- 分页 -->
        <div class="page">
            {$_page}
        </div>
    </div>
</block>

<block name="script">
    <script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

    <script type="text/javascript">
        $(function () {
            //搜索功能
            $("#search").click(function () {
                var url = $(this).attr('url');
                var query = $('.search-form').find('input').serialize();
                query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
                query = query.replace(/^&/g, '');
                if (url.indexOf('?') > 0) {
                    url += '&' + query;
                } else {
                    url += '?' + query;
                }
                window.location.href = url;
            });
            //回车搜索
            $(".search-input").keyup(function (e) {
                if (e.keyCode === 13) {
                    $("#search").click();
                    return false;
                }
            });
        });
    </script>
</block>