<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>餐厅列表</h2>
    </div>

    <div class="cf">
        <?php
            if(IS_CHAIN || empty($list)){
        ?>
        <a class="btn" href="{:U('DiningRoom/add')}">创建餐厅</a>
        <?php
        }
        ?>
        <button class="btn ajax-post" url="{:U('DiningRoom/enable')}" target-form="ids">启 用</button>
        <button class="btn ajax-post" url="{:U('DiningRoom/disable')}" target-form="ids">禁 用</button>

        <!-- 高级搜索 -->
        <div class="search-form fr cf">
            <div class="sleft">
                <input type="text" name="dining_name" class="search-input" value="{:I('dining_name')}" placeholder="请输入餐厅名">
                <a class="sch-btn" href="javascript:;" id="search" url="{:U('DiningRoom/show')}"><i class="btn-search"></i></a>
            </div>
        </div>
    </div>

    <div class="data-table table-striped">
        <table>
            <thead>
                <tr>
                    <th class="row-selected">
                        <input class="checkbox check-all" type="checkbox">
                    </th>
                    <!--<th>ID</th>-->
                    <th>所属餐厅</th>
                    <th>餐厅名</th>
                    <th>餐厅负责人</th>
                    <th>餐厅电话</th>
                    <th>详细地址</th>
                    <th>状态</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            <notempty name="list">
                <volist name="list" id="dining_room">
                    <tr>
                        <td><input class="ids row-selected" type="checkbox" name="id[]" value="{$dining_room.id}"></td>
                        <td><?php echo \Admin\Model\ChainDiningModel::getChainDiningNameById($dining_room['chain_dining_id']);?></td>
                        <td>{$dining_room.dining_name}</td>
                        <td>{$dining_room.dining_header}</td>
                        <td>{$dining_room.phone}</td>
                        <td>{$dining_room.address|mb_substr=0,9}...</td>
                         <td><?php echo \Admin\Model\DiningRoomModel::getDiningRoomStatus($dining_room['status']);?></td>
                    <if condition="$dining_room.create_time neq 0">
                        <td>{$dining_room.create_time|date="Y-m-d H:i:s",###}</td>
                        <else />
                        <td>{$dining_room.create_time}</td>
                    </if>
                        <td>
                            <a title="编辑" href="{:U('edit?id='.$dining_room['id'])}">编辑</a>
                            <a title="编辑" href="{:U('detail?id='.$dining_room['id'])}">图片添加</a>
                        </td>
                    </tr>
                </volist>
                <else/>
                <td colspan="9" class="text-center">您未创建餐厅 </td>
            </notempty>
            </tbody>
        </table>
        <!-- 分页 -->
        <div class="page">
            {$_page}
        </div>
    </div>
</block>

<block name="script">
    <script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
    
    <script type="text/javascript">
        $(function() {
            //搜索功能
            $("#search").click(function() {
                var url = $(this).attr('url');
                var query = $('.search-form').find('input').serialize();
                query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
                query = query.replace(/^&/g, '');
                if (url.indexOf('?') > 0) {
                    url += '&' + query;
                } else {
                    url += '?' + query;
                }
                window.location.href = url;
            });
            //回车搜索
            $(".search-input").keyup(function(e) {
                if (e.keyCode === 13) {
                    $("#search").click();
                    return false;
                }
            });
        });
    </script>
</block>