<extend name="Public/base"/>
<block name="style">
    <link href="__STATIC__/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <link href="__CSS__/bootstrap_form.css" rel="stylesheet">
</block>

<block name="body">
    <div class="main-title">
        <h2>一键生成自定义菜单(生成效果如下所示)</h2>
    </div>
<!--    <div class="main-title">
        <div id="accordion">
            <h3 style="color:#eb8f00;">详细说明</h3>
            <div>
                <p>
                    1.菜单类型为click推荐key值:<br>
                       &nbsp;&nbsp;food  返回结果：图文模式10条菜品<br>
                       &nbsp;&nbsp;cheap 返回结果：图文模式10条促销菜品<br>
                       &nbsp;&nbsp;hot   返回结果：图文模式10条热销菜品<br>
                       &nbsp;&nbsp;dining   返回结果：图文模式餐厅介绍<br>
                       &nbsp;&nbsp;contact   返回结果：图文模式餐厅联系方式<br>
                    2.菜单类型为view推荐url值:<br>
                       &nbsp;&nbsp;http://www.52gdp.com/Mobile/food/list 跳转到餐厅菜品列表主页<br>
                       &nbsp;&nbsp;http://www.52gdp.com/Mobile/User/panel 跳转到用户个人中心<br>
                       &nbsp;&nbsp;http://www.52gdp.com/Mobile/FoodCar/index 跳转到用户购餐车页面<br>
                </p>
            </div>
        </div>
    </div>-->
    <div id="dialog" title="一键生成自定义菜单结果" style="display:none;">
        <p id="dialog_content"></p>
    </div>

    <div class="data-table table-striped">
        <table style="border:1px solid;">
            <tbody>
                <tr>
<!--            <notempty name="menu_arr">
                <volist name="menu_arr" id="menu" key="key">
                    <notempty name="menu" id="sub_menu" key="k">
                        <td>
                            <table style="border:1px solid;">
                                <tbody>
                                <volist name="sub_menu" id="s_menu">
                                    <tr>
                                        <td>{$sub_menu.menu_name}</td>
                                    </tr>
                                </volist>
                                </tbody>
                            </table>
                        </td>
                        <else />
                        <td>
                            {$top_menu_arr.key.menu_name}
                        </td>
                    </notempty>
                </volist>
            </notempty>-->
            <?php
                foreach($menu_arr as $pid=>$sub_arr){
                    if(!empty($sub_arr)){
                    
                    }else{
                       echo "<td>".$top_menu_arr[$pid]."</td>";
                    }
                }
            ?>
                </tr>
            </tbody>
        </table>
    </div>


    <form  novalidate  class="form-horizontal" class="ng-app:weiapp_wxmenu" ng-app="weiapp_wxmenu" id="ng-app"  name="WxmenuForm" ng-controller="WxmenuController" ng-submit="submitForm()">

        
        <div class="form-item">
            <button type="submit" class="btn btn-success submit" ng-disabled="WxmenuForm.$invalid">保 存</button>
            <button class="btn btn-primary" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="__STATIC__/bootstrap/js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="__STATIC__/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="__STATIC__/bootstrap/js/html5shiv.js"></script>
    <script type="text/javascript" src="__STATIC__/json2.js"></script>
    <script type="text/javascript" src="__STATIC__/angularjs/angular.js"></script>
    <script type="text/javascript">
//        $(function() {
//            $( "#accordion" ).accordion({
//                collapsible: true,
//                active: 2
//            });
//            var icons = {
//                header: "ui-icon-circle-arrow-e",
//                activeHeader: "ui-icon-circle-arrow-s"
//            };
//            $( "#accordion" ).accordion({
//                icons: icons
//            });
//            $( "#toggle" ).button().click(function() {
//                if ( $( "#accordion" ).accordion( "option", "icons" ) ) {
//                   $( "#accordion" ).accordion( "option", "icons", null );
//                } else {
//                   $( "#accordion" ).accordion( "option", "icons", icons );
//                }
//            });
//        });
        var WxmenuModule = angular.module("weiapp_wxmenu", []);
        WxmenuModule.controller("WxmenuController", function ($scope, $http) {
            $scope.wxmenu = {};
            $scope.click_flag = false;
            $scope.view_flag = false;
            $scope.wxmenu.menu_type_arr = {$menu_type_arr};
            $scope.submitForm = function () {
                $('.submit').attr('disabled', 'true');
                $http({
                    method: "POST",
                    url: "/Admin/WeixinMenu/add",
                    data: $.param($scope.wxmenu),
                    headers: {'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'}
                }).success(function (data) {
                    if (data.status) {
                        $('#dialog_content').text(data.info);
                        $("#dialog").dialog({modal: true});
                        setTimeout("result(" + data.status + ")", 1000);
                    } else {
                        $('#dialog_content').text(data.info);
                        $("#dialog").dialog({modal: true});
                        setTimeout("result(" + data.status + ")", 1000);
                    }
                });
            };
            $scope.select_type = function(menu_type){
                if(menu_type == 'click'){
                    $scope.click_flag = true;
                    $scope.view_flag = false;
                }else if(menu_type == 'view'){
                    $scope.view_flag = true;
                    $scope.click_flag = false;
                }else{
                    $scope.view_flag = false;
                    $scope.click_flag = false;
                }
            }
        });

        function result(status) {
            $("#dialog").dialog("close");
            if (status) {
                window.location.href = '/Admin/WeixinMenu/food';
            } else {
                $('.submit').removeAttr("disabled");
            }
        }
    </script>
</block>
