<extend name="Public/base"/>
<block name="style">
    <link href="__STATIC__/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <link href="__CSS__/bootstrap_form.css" rel="stylesheet">
</block>

<block name="body">
    <div class="main-title">
        <h2>一键生成微信公众平台推荐菜单 【所有菜单可在一键生成后进行编辑】</h2>
    </div>
    
    <div id="dialog" title="创建推荐菜单结果" style="display:none;">
        <p id="dialog_content"></p>
    </div>
    
    <div class="data-table table-striped">
        <table style='border:1px solid gray'>
                <tr>
                    <td valign='bottom' align='center'>
                        <table>
                        <tr><td valign='bottom' align='center' style='background-color:#fff;padding:1px;'><a class="btn" href="#">全部菜品</a></td></tr>
                        <tr><td valign='bottom' align='center' style='background-color:#fff;padding:1px;'><a class="btn" href="#">热销菜品</a></td></tr>
                        <tr><td valign='bottom' align='center' style='background-color:#fff;padding:1px;'><a class="btn" href="#">特色菜品</a></td></tr>
                        <tr><td valign='bottom' align='center' style='background-color:#fff;padding:1px;'><a class="btn" href="#">优惠套餐</a></td></tr>
                        <tr><td valign='bottom' align='center' style='background-color:#fff;padding:1px;'><a class="btn" href="#">我要预定</a></td></tr>               
                        <tr><td valign='bottom' align='center' style='background-color:#fff;padding:1px;'><a class="btn submit-btn" href="#">点菜*预定</a></td></tr>
                        </table>
                    </td>
                    <td valign='bottom' align='center'>
                        <table>
                        <tr><td valign='bottom' align='center' style='background-color:#fff;padding:1px;'><a class="btn" href="#">关于我们</a></td></tr>
                        <tr><td valign='bottom' align='center' style='background-color:#fff;padding:1px;'><a class="btn" href="#">联系我们</a></td></tr>
                        <tr><td valign='bottom' align='center' style='background-color:#fff;padding:1px;'><a class="btn" href="#">餐厅浏览</a></td></tr>
                        <tr><td valign='bottom' align='center' style='background-color:#fff;padding:1px;'><a class="btn" href="#">热门活动</a></td></tr>
                        <tr><td valign='bottom' align='center' style='background-color:#fff;padding:1px;'><a class="btn" href="#">领取优惠券</a></td></tr>
                        <tr><td valign='bottom' align='center' style='background-color:#fff;padding:1px;'><a class="btn submit-btn" href="#">品牌|优惠券</a></td></tr>
                        </table>
                    </td>
                    <td valign='bottom' align='center'>
                        <table>
                        <tr><td valign='bottom' align='center' style='background-color:#fff;padding:1px;'><a class="btn" href="#">已领取的卡券</a></td></tr>
                        <tr><td valign='bottom' align='center' style='background-color:#fff;padding:1px;'><a class="btn" href="#">我的预定</a></td></tr>
                        <tr><td valign='bottom' align='center' style='background-color:#fff;padding:1px;'><a class="btn" href="#">我的订单</a></td></tr>
                        <tr><td valign='bottom' align='center' style='background-color:#fff;padding:1px;'><a class="btn" href="#">我的会员卡</a></td></tr>
                        <tr><td valign='bottom' align='center' style='background-color:#fff;padding:1px;'><a class="btn submit-btn" href="#">个人中心</a></td><tr>
                        </table>
                    </td>
                </tr>
        </table>
    </div>
    
    
    <form  novalidate  class="form-horizontal" class="ng-app:weiapp_wxmenu" ng-app="weiapp_wxmenu" id="ng-app"  name="WxmenuForm" ng-controller="WxmenuController" ng-submit="submitForm()">
        <div class="form-item">
            <button type="submit" class="btn btn-success submit" ng-disabled="WxmenuForm.$invalid">一键生成微信公众平台推荐菜单</button>
            <button class="btn btn-primary" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
        
        <div class="form-item">
            <label class="item-label">点菜*预定[一级菜单]<span class="check-tips">(位置:最左边)</span></label>
            <div class="controls">
                <p>1 菜单名:全部菜品[二级子菜单]  类型：view  URL:(例)http://www.52gdp.com/Mobile/food/list/token/91692FB7569443A68D7C357488CB54C2</p>
                <p>2 菜单名:热销菜品[二级子菜单]  类型：view  URL:(例)http://www.52gdp.com/Mobile/food/hot/token/91692FB7569443A68D7C357488CB54C2</p>
                <p>3 菜单名:特色菜品[二级子菜单]  类型：view  URL:(例)http://www.52gdp.com/Mobile/food/features/token/91692FB7569443A68D7C357488CB54C2</p>
                <p>4 菜单名:优惠套餐[二级子菜单]  类型：view  URL:(例)http://www.52gdp.com/Mobile/food/cheap/token/91692FB7569443A68D7C357488CB54C2</p>
                <p>5 菜单名:我要预定[二级子菜单]  类型：view  URL:(例)http://www.52gdp.com/Mobile/reserve/index/token/91692FB7569443A68D7C357488CB54C2</p>
            </div>
        </div>
        
        <div class="form-item">
            <label class="item-label">品牌|优惠券[一级菜单]<span class="check-tips">(位置:中间)</span></label>
            <div class="controls">
                <p>1 菜单名:关于我们[二级子菜单]  类型：click  KEY:(例)abouts</p>
                <p>2 菜单名:联系我们[二级子菜单]  类型：click  KEY:(例)contact</p>
                <p>3 菜单名:餐厅浏览[二级子菜单]  类型：click  KEY:(例)dining</p>
                <p>4 菜单名:热门活动[二级子菜单]  类型：click  KEY:(例)active</p>
                <p>5 菜单名:领取优惠券[二级子菜单]  类型：view  URL:(例)http://www.52gdp.com/Mobile/card/index/token/91692FB7569443A68D7C357488CB54C2</p>
            </div>
        </div>
        
        <div class="form-item">
            <label class="item-label">个人中心[一级菜单]<span class="check-tips">(位置:最右边)</span></label>
            <div class="controls">
                <p>1 菜单名:已领取的卡劵[二级子菜单]  类型：view  URL:(例)http://www.52gdp.com/Mobile/card/list/token/91692FB7569443A68D7C357488CB54C2</p>
                <p>2 菜单名:我的预定[二级子菜单]  类型：view  URL:(例)http://www.52gdp.com/Mobile/reserve/list/token/91692FB7569443A68D7C357488CB54C2</p>
                <p>3 菜单名:我的订单[二级子菜单]  类型：view  URL:(例)http://www.52gdp.com/Mobile/order/list/token/91692FB7569443A68D7C357488CB54C2</p>
                <p>4 菜单名:我的会员卡[二级子菜单]  类型：view  URL:(例)http://www.52gdp.com/Mobile/card/list/token/91692FB7569443A68D7C357488CB54C2</p>
            </div>
        </div>
        
    </form>
</block>

<block name="script">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="__STATIC__/bootstrap/js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="__STATIC__/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="__STATIC__/bootstrap/js/html5shiv.js"></script>
    <script type="text/javascript" src="__STATIC__/json2.js"></script>
    <script type="text/javascript" src="__STATIC__/angularjs/angular.js"></script>
    <script type="text/javascript">
        var WxmenuModule = angular.module("weiapp_wxmenu", []);
        WxmenuModule.controller("WxmenuController", function ($scope, $http) {
            $scope.wxmenu = {};
            $scope.submitForm = function () {
                $('.submit').attr('disabled', 'true');
                $http({
                    method: "POST",
                    url: "/Admin/WeixinMenu/recommend",
                    data: $.param($scope.wxmenu),
                    headers: {'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'}
                }).success(function (data) {
                    if (data.status) {
                        $('#dialog_content').text(data.info);
                        $("#dialog").dialog({modal: true});
                        setTimeout("result(" + data.status + ")", 1000);
                    } else {
                        $('#dialog_content').text(data.info);
                        $("#dialog").dialog({modal: true});
                        setTimeout("result(" + data.status + ")", 1000);
                    }
                });
            };
        });

        function result(status) {
            $("#dialog").dialog("close");
            if (status) {
                window.location.href = '/Admin/WeixinMenu/food';
            } else {
                $('.submit').removeAttr("disabled");
            }
        }
    </script>
</block>
