<extend name="Base/common"/>
<block name="style">
    <style type="text/css">

    </style>
</block>
<block name="header">

</block>

<block name="body">
    <div class="row" style="margin-top:10px;">
        <div class="col-xs-6">
            <div class="thumbnail">
                <img src="{$mp.mp_img}" alt="">
                <div class="caption">
                    <h4>{$mp.mp_name}</h4>
                    <p><i class="fa fa-cny"></i>:15 <span style="TEXT-DECORATION: line-through;color:#999;">￥20</span></p>
                    <p style="text-align:center;">
                        <a href="#" class="btn btn-success" role="button"><i class="fa fa-shopping-cart"></i> 加入美食篮</a>
                        <a href="#" class="btn btn-success" role="button"><i class="fa fa-search-plus"></i> 查看</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="thumbnail">
                <img src="{$mp.mp_img}" alt="">
                <div class="caption">
                    <h4>{$mp.mp_name}</h4>
                    <p>微信价:<i class="fa fa-cny"></i>:15 <span style="TEXT-DECORATION: line-through;color:#999;">原价:￥20</span></p>
                    <p style="text-align:center;">
                        <a href="#" class="btn btn-success" role="button">加入美食篮</a>
                        <a href="#" class="btn btn-success" role="button">查看</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="script">
    <!--    <script type="text/javascript">
            $(function () {
                $('.carousel').carousel();
                $('.carousel').carousel({
                    interval: 2000
                })
            });
        </script>-->
</block>
