<extend name="Base/common"/>
<block name="style">
    <link href="__CSS__/food_view.css" rel="stylesheet">
    <link href="__STATIC__/lightbox/css/lightbox.css" rel="stylesheet">
</block>
<block name="header">

</block>

<block name="body">
    <div id="dialog" title="加入购餐车" style="display:none;">
        <p id="dialog_content"></p>
    </div>

    <div class="row" style="margin-top:10px;">
        <div class="col-xs-12">
            <div class="thumbnail">
                <img src="{$food[0].url}" alt="">
                <hr>
                <div class="caption">
                    <h4>{$food[0].food_name}</h4>
                    <p><span class="weixin_price">微信价<i class="fa fa-cny"></i>:{$food[0].weixin_price}</span> <span class="price">原价:￥{$food[0].price}</span></p>
                    <ul class="list-group"  >
                        <li class="list-group-item">
                            <i class="fa fa-columns" style="color:green"></i>
                            单位:{$food[0]['unit']}
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-bitbucket-square" style="color:green"></i>
                            口味:{$food[0]['style_name']}
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-thumbs-o-up" style="color:green"></i>
                            销售数量:{$food[0]['sell_count']}
                        </li>
                        <a href="/Wechat/DiningRoom/view/t/{$mp.mp_token}/id/{$food[0].dining_room_id}">
                            <li class="list-group-item">
                                <i class="fa fa-map-marker" style="color:green"></i>
                                <span class="badge" style="background:green">
                                    <i class="fa fa-chevron-right"></i>
                                </span>
                                餐厅:{$food[0]['dining_name']}
                            </li>
                        </a>
                        <a href="/Wechat/FoodComment/index/food_setmenu_id/{$food[0].id}/t/{$mp.mp_token}">
                            <li class="list-group-item">
                                <i class="fa fa-comments" style="color:green"></i>
                                <span class="badge" style="background:green">
                                    <i class="fa fa-chevron-right"></i>
                                </span>
                                菜品评价
                            </li>
                        </a>
                    </ul>
                    <p style="text-align:center;">
                        <!--<a href="" class="btn btn-success" ng-mode="food.food_id" ng-click="addCar(food.food_id) role="button"><i class="fa fa-shopping-cart"></i> 加入餐车</a>-->
                    </p>
                </div>
            </div>

            <div class="thumbnail">
                <p><i class="fa fa-star" style="color:red"></i> {$food[0].food_name}</p>
                <hr>
                <p>{$food[0].description|htmlspecialchars_decode|stripslashes}</p>
            </div>

            <volist name="food" id="vo" key="i">
                <div class="thumbnail">
                    <a href="{$vo.url}" data-lightbox="image-1" data-title="{$food[0].food_name}图片">
                        <img src="{$vo.url}" class="img-responsive" alt="{$food[0].food_name}" title="{$food[0].food_name} -图片{$i}">
                    </a>
                </div>
            </volist>

        </div>
    </div>
</block>

<block name="footer">
    <form novalidate  class="ng-app:weiapp_food" ng-app="weiapp_food" id="ng-app"  name="FoodForm" ng-controller="FoodController">
        <footer class="footer">
            <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <ul class="nav navbar-nav" style="width:100%;text-align: center;">
                                <li style="float:left;width:40%;text-align: center;">
                                    <a href="/Wechat/index/index/t/{$mp.mp_token}" style="color:green;"><i class="fa fa-cutlery"></i> 点菜</a>
                                </li>
<!--                                <li style="float:left;width:33%;text-align: center;">
                                    <a href="/Wechat/FoodCar/index/t/{$mp.mp_token}" style="color:#fba949;"><i class="fa fa-list-alt"></i>  立即下单</a>
                                </li>-->
                                <li style="float:left;width:60%;text-align: center;">
                                <if condition="$car_num neq 0">
                                    <?php
                                    if(intval($food[0]['dining_room_id']) > 0){
                                    ?>
                                    <a href="#" class="btn btn-danger" ng-model="food.id" ng-click="addCar(food.id)"><i class="fa fa-cart-plus"></i> 加入餐车 <span class="badge"><span id="total_num">{$car_num}</span></span></a>
                                    <?php
                                    }else{
                                    ?>
                                    <a href="#" class="btn btn-danger" ng-model="food.id"   data-toggle="modal" data-target="#exampleModal" ><i class="fa fa-cart-plus"></i> 加入餐车 <span class="badge"><span id="total_num">{$car_num}</span></span></a>
                                    <?php
                                    }
                                    ?>
                                    <else />
                                    <?php
                                    if(intval($food[0]['dining_room_id']) > 0){
                                    ?>
                                    <a href="#" class="btn btn-danger" ng-model="food.id" ng-click="addCar(food.id)"><i class="fa fa-cart-plus"></i> 加入餐车</a>
                                    <?php
                                    }else{
                                    ?>
                                    <a href="#" class="btn btn-danger" ng-model="food.id"   data-toggle="modal" data-target="#exampleModal" ><i class="fa fa-cart-plus"></i> 加入餐车</a>
                                    <?php
                                    }
                                    ?>
<!--                                    <a href="#" class="btn btn-danger" ng-model="food.id" ng-click="addCar(food.id)"><i class="fa fa-cart-plus"></i> 加入餐车</a>-->
                                </if>

                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="exampleModalLabel"></h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <!--<label for="recipient-name" class="control-label">餐厅:</label>-->
                                                    <select class="form-control" name="dining_room_id" required ng-model="food.dining_room_id"  ng-options="m.id as m.dining_name for m in food.dining_room_arr">
                                                        <option value="">请选择</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <!--<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>-->
                                                <button type="button" class="btn btn-primary"  ng-click="addCar(food.id)">确认</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </footer>
    </form>
</block>

<block name="script">
    <script type="text/javascript" src="__STATIC__/lightbox/js/lightbox.min.js"></script>
    <script type="text/javascript">
        $('#exampleModal').on('show.bs.modal', function(event) {
            var button = $(event.relatedTarget);
            var recipient = button.data('whatever') ;
            var modal = $(this);
            modal.find('.modal-title').text('请选择用餐或配送餐厅');
            modal.find('.modal-body input').val(recipient);
        });

        var FoodModule = angular.module("weiapp_food", []);
        FoodModule.controller("FoodController", function($scope, $http) {
            $scope.food = {};
            $scope.food.dining_room_arr = {$dining_room_arr};
            $scope.food.id = {$food[0].id};
            $scope.food.t = '{$mp.mp_token}';
            $scope.addCar = function(id) {
                if (typeof (id) != 'undefined') {
                    $http({
                        method: "POST",
                        url: "/Wechat/Food/addcar/t/" + $scope.food.t,
                        data: $.param($scope.food),
                        headers: {'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'}
                    }).success(function(data) {
                        $('#exampleModal').modal('hide');
                        if (data.status) {
                            var total_num = parseInt($('#total_num').html()) + parseInt(1);
                            $('#total_num').html(total_num);
                            $('#dialog_content').text(data.info);
                            $("#dialog").dialog({modal: true});
                            setTimeout("result(" + data.status + ")", 1000);
                        } else {
                            $('#dialog_content').text(data.info);
                            $("#dialog").dialog({modal: true});
                            setTimeout("result(" + data.status + ")", 1000);
                        }
                    });
                }
            }
        });
        function result(status) {
            $("#dialog").dialog("close");
            $('.submit').removeAttr("disabled");
        }
    </script>
</block>

