<extend name="Base/common"/>
<block name="style">
    <link href="__CSS__/weixinmember_index.css" rel="stylesheet">
</block>
<block name="header">

</block>

<block name="body">
    <div id="dialog" title="加入美食篮" style="display:none;">
        <p id="dialog_content"></p>
    </div>
    
    <div class="row" style="margin-top:10px;">
        <div class="col-xs-12">
            <ul class="menu-list">
                <li>
                    <a href="/Wechat/FoodSetmenu/index/t/{$mp.mp_token}">
                        <i class="fa fa-delicious fa-3x" style="color:pink"></i>
                        <p>特价套餐</p>
                    </a>
                </li>

                <li>
                    <a href="/Wechat/Index/index/is_promotion/true/t/{$mp.mp_token}">
                        <i class="fa fa-long-arrow-down fa-3x" style="color:#77cbf0"></i>
                        <p>促销美食</p>
                    </a>
                </li>

                <li>
                    <a href="/Wechat/Index/index/is_hot/true/t/{$mp.mp_token}">
                        <i class="fa fa-thumbs-up fa-3x" style="color:#ff8885"></i>
                        <p>热销美食</p>
                    </a>
                </li>
                
                <li>
                    <a href="/Wechat/DiningReserve/create/t/{$mp.mp_token}">
                        <i class="fa fa-calendar fa-3x" style="color:#ffc485"></i>
                        <p>我要预定</p>
                    </a>
                </li>

            </ul>
        </div>
        <if condition="$setmenus neq ''">
            <volist name="setmenus" id="setmenu">
                <div class="col-xs-12">
                    <div class="thumbnail" style="height:330px;">
                        <if condition="$setmenu.url eq ''">
                            <a href="/Wechat/FoodSetmenu/view/id/{$setmenu.id}/t/{$mp.mp_token}">
                            <img src="{$mp.mp_img}" alt="" style="height:170px;">
                            </a>
                            <else />
                            <a href="/Wechat/FoodSetmenu/view/id/{$setmenu.id}/t/{$mp.mp_token}">
                            <img src="{$setmenu.url}" alt="" style="height:170px;">
                            </a>
                        </if>
                        <div class="caption">
                            <h4>{$setmenu.setmenu_name}</h4>
                            <p>
                            <if condition="$setmenu.dining_room_id eq 0">
                                所有门店通用<br>
                                <else />
                                <a href=""><?php echo \Admin\Model\DiningRoomModel::getDiningRoomName($setmenu['dining_room_id']); ?> <i class="fa fa-location-arrow"></i></a><br>
                            </if>
                            <span style="text-decoration: line-through;color:#999;">原价:￥{$setmenu.amount}</span><br>微信价:<i class="fa fa-cny"></i>{$setmenu.setmenu_money}
                            </p>
                            <p style="text-align:center;">
                                <if condition="$setmenu.dining_room_id eq 0">
                                <a href="#"  data-toggle="modal" data-target="#exampleModal_{$setmenu.id}" class="btn btn-success btn-sm" role="button"><i class="fa fa-shopping-cart"></i> 加入美食篮</a>
                                <else />
                                <a href="#"  onclick="javascript:addCar({$setmenu.id})" class="btn btn-success btn-sm" role="button"><i class="fa fa-shopping-cart"></i> 加入美食篮</a>
                                </if>
                                <a href="/Wechat/FoodSetmenu/view/id/{$setmenu.id}/t/{$mp.mp_token}" class="btn btn-success btn-sm" role="button"><i class="fa fa-search-plus"></i> 查看</a>
                            </p>
                            <div class="modal fade" id="exampleModal_{$setmenu.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title_{$setmenu.id}" id="exampleModalLabel"></h4>
                                        </div>
                                        <div class="modal-body_{$setmenu.id}">
                                            <div class="form-group">
                                                <select class="form-control" name="dining_room_id" id="dining_room_id_{$setmenu.id}" required >
                                                    <foreach name="dining_room_arr" item="vo" key="k">
                                                       <option value="{$k}">{$vo}</option>
                                                    </foreach>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary"  onclick="javascript:addCar({$setmenu.id})">确认</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </volist>
            <else />
            <div class="col-xs-12" style="text-align: center;">本店即将上线美食套餐,请稍等待...</div>
        </if>
        <div class="col-xs-12" style="text-align: center;">{$page}</div>
    </div>

</block>

<block name="script">
    <script type="text/javascript">
        <?php
             foreach($setmenus as $key=>$setmenu){
                 echo "$('#exampleModal_".$setmenu['id']."').on('show.bs.modal', function(event) {var button = $(event.relatedTarget);var recipient = button.data('whatever');var modal = $(this);modal.find('.modal-title_".$setmenu['id']."').text('请选择用餐或配送门店');modal.find('.modal-body_".$setmenu['id']." input').val(recipient);});";
             }
        ?>

         function addCar(id){
             var select_dining_room_id = $('#dining_room_id_'+id).val();
             $.ajax({
                type: "POST",
                url: "/Wechat/FoodSetmenu/addcar/t/{$mp.mp_token}",
                data: {'id':id,'dining_room_id':select_dining_room_id},
                success: function(data) {
                    $('#exampleModal_'+id).modal('hide');
                    if (data.status) {
                        var total_num = parseInt($('#total_num').html()) + parseInt(1);
                        $('#total_num').html(total_num);
                        $('#dialog_content').text(data.info);
                        $("#dialog").dialog({modal: true});
                        setTimeout("result(" + data.status + ")", 1000);
                    } else {
                        $('#dialog_content').text(data.info);
                        $("#dialog").dialog({modal: true});
                        setTimeout("result(" + data.status + ")", 1000);
                    }
                }
            });
         }
         
         function result(status) {
            $("#dialog").dialog("close");
        }
    </script>
</block>
