<extend name="Public/base"/>

<block name="sidebar"></block>

<block name="style">
    <link href="__STATIC__/bootstrap-3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="__STATIC__/bootstrap-3.3.2/Font-Awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/Public/Wechat/css/common.css" rel="stylesheet">
    <style>
        body{padding: 0}
    </style>
</block>

<block name="body">
    <!-- 主体 -->
    <div id="indexMain" class="index-main">
        <!-- 插件块 -->
        <?php
        if(is_administrator()){
        ?>
        <div class="container-span">{:hook('AdminIndex')}</div>
        <?php
        }else{
        ?>
        <div class="row" style="margin-top:10px;">
            <div class="col-xs-12">
                <div class="jumbotron">
                    <h1><i class="fa fa-home"></i>微信公众平台需开通功能及基本设置(必看)</h1>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title" id="panel-title">请确保以下条件都满足<a class="anchorjs-link" href="#panel-title"><span class="anchorjs-icon"></span></a></h3>
                    </div>
                    <div class="panel-body">
                        <p>1.拥有微信公众平台帐号,须为服务号.若为订阅号请升级为服务号.</p>
                        <p>2.满足1后,登录微信公众平台,请进行微信认证.认证成功方可:获得高级功能接口中所有接口权限、多客服接口，以及可申请微信支付.(微信公众平台登录成功,左边菜单 设置=>微信认证 接着一步步填写信息申请认证即可)</p>
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <a href="#" class="thumbnail">
                                    <img src="/Public/img/guide/renzheng.png" alt="">
                                </a>
                            </div>
                        </div>
                        <p>3.满足1 2后,登录微信公众平台,左边菜单 功能=>添加功能插件 须添加功能:微信支付  群发功能  模版消息 多客服 卡劵功能  自定义菜单</p>
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <a href="#" class="thumbnail">
                                    <img src="/Public/img/guide/chajian.png" alt="">
                                </a>
                            </div>
                        </div>
                        <p>4.登录微餐饮后台,点击菜单 微餐饮=>微餐饮公众平台=>公众平台 填写完整相关信息后保存</p>
                        <p>5.满足4后,登录微信公众平台.开发者中心:服务器配置:URL(服务器地址)填写微餐饮=>微信公众平台接入URL;Token(令牌)填写微餐饮=>微信公众平台接入token.两个填写完毕提交,提示成功则绑定成功;否则失败无法使用.无法解决请联系站长。</p>
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <a href="#" class="thumbnail">
                                    <img src="/Public/img/guide/developer.png" alt="">
                                </a>
                            </div>
                        </div>
                        <p>6.登录微信公众平台,开发者中心 请确认自己的微信公众平台接口权限表和如下一样.注:网页账户=>网页授权获取用户基本信息=>修改=>授权回调页面域名:填写 www.52gdp.com 确认保存</p>
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <a href="#" class="thumbnail">
                                    <img src="/Public/img/guide/power.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <a href="#" class="thumbnail">
                                    <img src="/Public/img/guide/oauth_host.png" alt="">
                                </a>
                            </div>
                        </div>
                        <p>7.登录微信公众平台,左边菜单 设置=>公众号设置=>功能设置=>JS接口安全域名 请添加  www.52gdp.com 然后保存.</p>
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <a href="#" class="thumbnail">
                                    <img src="/Public/img/guide/jsinterface.png" alt="">
                                </a>
                            </div>
                        </div>
                        <p>8.登录微信公众平台,左边菜单 功能=>添加功能插件=>卡劵功能 点击 申请详情 按钮,再点击接口商户高级权限的 配置按钮,在新打开的页面中开通高级权限的 卡劵领取页面JS API功能,配置卡劵领取JS API域名为www.52gdp.com 点击配置保存完成.</p>
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <a href="#" class="thumbnail">
                                    <img src="/Public/img/guide/kajuan.png" alt="">
                                </a>
                                <a href="#" class="thumbnail">
                                    <img src="/Public/img/guide/card_config.png" alt="">
                                </a>
                                <a href="#" class="thumbnail">
                                    <img src="/Public/img/guide/card_detail.png" alt="">
                                </a>
                                <a href="#" class="thumbnail">
                                    <img src="/Public/img/guide/card_host.png" alt="">
                                </a>
                            </div>
                        </div>
                        <p>9.登录微信公众平台,左边菜单 微信支付=>开发配置=>支付配置=>修改 勾选JS API网页支付,支付授权目录填写:www.52gdp.com/Wechat/FoodOrder/ 告警通知URL：填写http://www.52gdp.com/Wechat/WxWarn/receive 最后点击保存即可</p>
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <a href="#" class="thumbnail">
                                    <img src="/Public/img/guide/pay_config.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--       <div class="container-span">
                       
                   </div>-->
            <?php
            }
            ?>
        </div>
</block>

<block name="script">
    <script type="text/javascript">
        /* 插件块关闭操作 */
        $(".title-opt .wm-slide").each(function() {
            $(this).click(function() {
                $(this).closest(".columns-mod").find(".bd").toggle();
                $(this).find("i").toggleClass("mod-up");
            });
        })
        $(function() {
            // $('#main').attr({'id': 'indexMain','class': 'index-main'});
            $('.copyright').html('<div class="copyright"> ©2013 <a href="http://www.52gdp.com" target="_blank">weiapp</a>管理平台 </div>');
            $('.sidebar').remove();
        })
    </script>
</block>