<extend name="Base/common"/>
<block name="style">
    <style type="text/css">

    </style>
</block>
<block name="header">

</block>

<block name="body">
    <div class="row" style="margin-top:10px;">
        <div class="col-xs-12">
            <ul class="list-group">
                <li class="list-group-item">
                    <i class="fa fa-circle" style="color:red"></i>
                    <span class="badge" style="background:greenyellow">14 <i class="fa fa-chevron-right"></i></span>
                    Cras justo odio
                </li>
                <li class="list-group-item">
                    <i class="fa fa-circle" style="color:red"></i>
                    <span class="badge" style="background:greenyellow">14 <i class="fa fa-chevron-right"></i></span>
                    Cras justo odio
                </li>
                <a href="">
                    <li class="list-group-item">
                        <i class="fa fa-circle" style="color:red"></i>
                        <span class="badge" style="background:greenyellow">14 <i class="fa fa-chevron-right"></i></span>
                        Cras justo odio
                    </li>
                </a>
            </ul>
        </div>
    </div>
</block>

<block name="script">
    <!--    <script type="text/javascript">
            $(function () {
                $('.carousel').carousel();
                $('.carousel').carousel({
                    interval: 2000
                })
            });
        </script>-->
</block>
