<extend name="Base/common"/>
<block name="style">
    <style type="text/css">

    </style>
</block>
<block name="header">

</block>

<block name="body">
    <div class="row" style="margin-top:10px;">

        <if condition="$food_cates neq ''">
            <form  novalidate  class="form-horizontal" class="ng-app:weiapp_food_cate" ng-app="weiapp_food_cate" id="ng-app"  name="FoodCateForm" ng-controller="FoodCateController" ng-submit="submitForm()">
                <div class="col-xs-12">
                    <if condition="$mp.is_chain eq 1">
                    <div class="form-item" ng-class="{'has-error' : FoodCateForm.dining_room_id.$invalid && !FoodCateForm.dining_room_id.$pristine}">
                        <label class="item-label">餐厅<span class="check-tips">（*选择餐厅检索菜品分类）</span></label>
                        <div class="controls">
                            <select class="form-control" name="dining_room_id" required ng-model="food_cate.dining_room_id" ng-change="select_dining(food_cate.dining_room_id)" ng-options="m.id as m.dining_name for m in food_cate.dining_room_arr">
                                <option value="">请选择</option>
                            </select>
                            <p ng-show="FoodCateForm.dining_room_id.$invalid && !FoodCateForm.dining_room_id.$pristine" class="help-block">请选择所属餐厅</p>
                        </div>
                    </div>
                    </if>
                    <br>

<!--                    <ul class="list-group">
                        <volist name="food_cates" id="cate">
                            <a href="/Wechat/index/index/t/{$mp.mp_token}/cate_id/{$cate.id}">
                                <li class="list-group-item">
                                    <i class="fa fa-circle" style="color:red"></i>
                                    <span class="badge" style="background:pink">
                                        <?php echo \Admin\Model\FoodModel::getFoodsCount($mp['id'],$cate['id'],$cate['dining_room_id']);?>
                                        <i class="fa fa-chevron-right"></i>
                                    </span>
                                    {$cate.cate_name}
                                </li>
                            </a>
                        </volist>
                    </ul>-->
                    
                    
                    <ul class="list-group"  >
                            <a href="/Wechat/index/index/t/{$mp.mp_token}/cate_id/{{cate.id}}" ng-repeat="cate in food_cate.cates">
                                <li class="list-group-item">
                                    <i class="fa fa-circle" style="color:red"></i>
                                    <span class="badge" style="background:pink">
                                        {{cate.food_count}}
                                        <i class="fa fa-chevron-right"></i>
                                    </span>
                                    {{cate.cate_name}}
                                </li>
                            </a>
                    </ul>
                </div>
                <input type="hidden" name="t" ng-model="food_cate.t" >
            </form>
            <else />
            <div class="col-xs-12" style="text-align:center;">本店未设置菜品分类</div>
        </if>

    </div>
</block>

<block name="script">
    <script type="text/javascript">
        var FoodCateModule = angular.module("weiapp_food_cate", []);
        FoodCateModule.controller("FoodCateController", function($scope, $http) {
            $scope.food_cate = {};
            $scope.food_cate.cates = {$json_food_cates};
            $scope.food_cate.t = '{$mp.mp_token}';
            $scope.food_cate.dining_room_arr = {$dining_room_arr};
            $scope.food_cate.dining_room_id = {$selected_dining_room_id};
            $scope.select_dining = function(selected_dining_room_id){
                if(typeof(selected_dining_room_id) != 'undefined'){
                    $scope.cate_data={'select_dining_room_id':selected_dining_room_id};
                    $http({
                        method: "POST",
                        url: "/Wechat/FoodCate/index/t/"+$scope.food_cate.t,
                        data: $.param($scope.cate_data),
                        headers: {'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'}
                    }).success(function (data) {
                        if (data.status) {
                            $scope.food_cate.cates = data.info;
                        } else {

                        }
                    });
                }
            }
        });
    </script>
</block>
