<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>微信公众平台维权列表</h2>
    </div>

    <div class="cf">
<!--        <button class="btn ajax-post" url="{:U('WeixinMenu/enable')}" target-form="ids">启 用</button>
        <button class="btn ajax-post" url="{:U('WeixinMenu/disable')}" target-form="ids">禁 用</button>-->

        <!-- 高级搜索 -->
        <div class="search-form fr cf">
            <div class="sleft">
                <input type="text" name="reason" class="search-input" value="{:I('reason')}" placeholder="请输入维权原因">
                <a class="sch-btn" href="javascript:;" id="search" url="{:U('FoodWxFeedback/show')}"><i class="btn-search"></i></a>
            </div>
        </div>
    </div>

    <div class="data-table table-striped">
        <table>
            <thead>
                <tr>
                    <th class="row-selected">
                        <input class="checkbox check-all" type="checkbox">
                    </th>
                    <th>公众平台名</th>
                    <th>餐厅名</th>
                    <th>用户昵称</th>
                    <th>维权类型</th>
                    <th>维权时间</th>
                    <th>交易单号</th>
                    <th>投诉原因</th>
                    <th>希望解决方案</th>
                    <!--<th>创建时间</th>-->
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            <notempty name="list">
                <volist name="list" id="feedback">
                    <tr>
                        <td><input class="ids row-selected" type="checkbox" name="feedback_id[]" value="{$feedback.id}"></td>
                        <td><?php echo \Admin\Model\MicroPlatformModel::getMpName($feedback['mp_id']); ?></td>
                        <td><?php echo \Admin\Model\DiningRoomModel::getDiningRoomName($feedback['dining_room_id']);?></td>
                        <td>{$feedback.nickname}</td>
                        <td><?php echo \Admin\Model\FoodWxFeedbackModel::getFoodWxFeedbackMsgTypes($feedback['msg_type']);?></td>
                    <if condition="$feedback.feedback_time neq 0">
                        <td>{$feedback.feedback_time|date="Y-m-d H:i:s",###}</td>
                        <else />
                        <td>{$feedback.feedback_time}</td>
                    </if>
                        <td>{$feedback.trans_id}</td>
                        <td>{$feedback.reason}</td>
                        <td>{$feedback.solution}</td>
<!--                    <if condition="$feedback.create_time neq 0">
                        <td>{$feedback.create_time|date="Y-m-d H:i:s",###}</td>
                        <else />
                        <td>{$feedback.create_time}</td>
                    </if>-->
                        <td>
                            <?php
                               if(($feedback['msg_type'] == \Admin\Model\FoodWxFeedbackModel::$MSG_TYPE_REQUEST) || ($feedback['msg_type']==\Admin\Model\FoodWxFeedbackModel::$MSG_TYPE_REJECT)){
                            ?>
                            <!--<a title="通知用户与客服沟通" href="{:U('show?feedback_id='.$feedback['feedback_id'])}">通知用户与客服沟通</a>-->
                            <button class="btn ajax-post" url="{:U('FoodWxFeedback/show?feedback_id='.$feedback['feedback_id'])}" target-form="ids">通知用户与客服沟通</button>
                            <?php
                            }
                            ?>
                        </td>
                    </tr>
                </volist>
                <else/>
                <td colspan="10" class="text-center">还没有微信维权!</td>
            </notempty>
            </tbody>
        </table>
        <!-- 分页 -->
        <div class="page">
            {$_page}
        </div>
    </div>
</block>

<block name="script">
    <script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
    
    <script type="text/javascript">
        $(function() {
            //搜索功能
            $("#search").click(function() {
                var url = $(this).attr('url');
                var query = $('.search-form').find('input').serialize();
                query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
                query = query.replace(/^&/g, '');
                if (url.indexOf('?') > 0) {
                    url += '&' + query;
                } else {
                    url += '?' + query;
                }
                window.location.href = url;
            });
            //回车搜索
            $(".search-input").keyup(function(e) {
                if (e.keyCode === 13) {
                    $("#search").click();
                    return false;
                }
            });
        });
    </script>
</block>