<!-- 底部================================================== -->
<footer class="footer">
    <div class="container">
        <p>
        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1000519142'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1000519142%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
        Copyright © 微应用 <strong><a href="http://www.miitbeian.gov.cn" target="_blank">{:C('WEB_SITE_ICP')}</a></strong></p>
    </div>
</footer>

<include file="Public/var"/>
<block name="script"></block> <!-- 用于加载js代码 -->
<!-- 页面footer钩子，一般用于加载插件JS文件和JS代码 -->
{:hook('pageFooter', 'widget')}
<div class="hidden"><!-- 用于加载统计代码等隐藏元素 -->
    <block name="hidden"></block>
</div>