<extend name="Base/common"/>
<block name="style">
    <link href="__CSS__/foodorder_index.css" rel="stylesheet">
</block>
<block name="header">

</block>

<block name="body">
    <div class="row" style="margin-top:10px;">
        <div class="col-xs-12">
            <a id="reserve" href="javascript:window.location.href='/Wechat/DiningReserve/create/t/{$mp.mp_token}';" class="btn btn-success btn-block" role="button"><i class="fa fa-calendar"></i> 创建预定</a><br>
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
            <volist name="reserves" id="reserve">
                <?php
                if($reserve['status'] == \Admin\Model\DiningReserveModel::$STATUS_FINISH){                
                ?>
                <div class="panel panel-success">
                <?php
                }else if($reserve['status'] == \Admin\Model\DiningReserveModel::$STATUS_CONFIRM){
                ?>
                <div class="panel panel-warning">
                <?php
                }else if($reserve['status'] == \Admin\Model\DiningReserveModel::$STATUS_COMMITED){
                ?>
                <div class="panel panel-primary">
                <?php
                }else{
                ?>
                <div class="panel panel-warning">
                <?php
                }
                ?>
                        <div class="panel-heading">{$reserve.create_time|date='Y-m-d H:i:s',###} 预定</div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="dining_room_id" class="col-sm-2 control-label" style="padding-top:0px;"><i class="fa fa-building"></i> 餐厅名:</label>
                                <div class="col-sm-10">
                                    <?php
                                    echo \Admin\Model\DiningRoomModel::getDiningRoomName($reserve['dining_room_id']);
                                    ?>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="user_name" class="col-sm-2 control-label" style="padding-top:0px;"><i class="fa fa-user"></i> 联系人:</label>
                                <div class="col-sm-10">
                                    {$reserve.user_name}
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="mobile" class="col-sm-2 control-label" style="padding-top:0px;"><i class="fa fa-mobile"></i> 手机:</label>
                                <div class="col-sm-10">
                                    {$reserve.mobile}
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="user_num" class="col-sm-2 control-label" style="padding-top:0px;"><i class="fa fa-sort-numeric-asc"></i> 用餐人数:</label>
                                <div class="col-sm-10">
                                    {$reserve.user_num}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="meal_time" class="col-sm-2 control-label" style="padding-top:0px;"><i class="fa fa-calendar"></i> 用餐时间:</label>
                                <div class="col-sm-10">
                                    {$reserve.meal_time|date='Y-m-d H:i:s',###}
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="status" class="col-sm-2 control-label" style="padding-top:0px;"><i class="fa fa-hand-o-right"></i> 预定状态:</label>
                                <div class="col-sm-10">
                                    <span id="status_{$reserve.id}">
                                    <?php
                                    echo \Admin\Model\DiningReserveModel::getDiningReserveStatus($reserve['status']);
                                    ?>
                                    </span>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="remark" class="col-sm-2 control-label" style="padding-top:0px;"><i class="fa fa-file"></i> 预定描述:</label>
                                <div class="col-sm-10">
                                    {$reserve.remark}
                                </div>
                            </div>
 
                            <div class="form-group" style="text-align: center;">
                                <?php
                                if($reserve['status'] == \Admin\Model\DiningReserveModel::$STATUS_CONFIRM){
                                ?>
                                <a id="finish_{$reserve.id}" href="javascript:void();" onclick="finish({$reserve.id});" class="btn btn-success" role="button"><i class="fa fa-check"></i> 确认完成</a>
                                <?php
                                }
                                ?>
                                <?php
                                if($reserve['status'] == \Admin\Model\DiningReserveModel::$STATUS_COMMITED){
                                ?>
                                <a id="cancel_{$reserve.id}" href="javascript:void();" onclick="cancel({$reserve.id});" class="btn btn-danger" role="button"><i class="fa fa-times"></i> 取消预定</a>
                                <?php
                                }
                                ?>
                            </div>
                        </form>
                    </div>
                </div>
            </volist>
            </div>
            <div class="col-xs-1"></div>
        </div>
        <div class="col-xs-12" style="text-align: center;">{$page}</div>
    </div>
</block>

<block name="script">
    <script type="text/javascript">
         function cancel(id){
             $('#cancel_'+id).attr('disabled', 'true');
             $.ajax({
                type: "POST",
                url: "/Wechat/DiningReserve/cancel/t/{$mp.mp_token}",
                data: {'id':id},
                success: function(data) {
                    if (data.status) {
                        $('#cancel_'+id).remove();
                        $('#status_'+id).html(data.info);
                    } else {
                        $('#cancel_'+id).removeAttr("disabled");
                        $('#dialog_content').text(data.info);
                        $("#dialog").dialog({modal: true});
                        setTimeout("result(" + data.status + ")", 1000);
                    }
                }
            });
         }
         
         function finish(id){
             $('#finish_'+id).attr('disabled', 'true');
             $.ajax({
                type: "POST",
                url: "/Wechat/DiningReserve/finish/t/{$mp.mp_token}",
                data: {'id':id},
                success: function(data) {
                    if (data.status) {
                        $('#finish_'+id).remove();
                        $('#status_'+id).html(data.info);
                    } else {
                        $('#finish_'+id).removeAttr("disabled");
                        $('#dialog_content').text(data.info);
                        $("#dialog").dialog({modal: true});
                        setTimeout("result(" + data.status + ")", 1000);
                    }
                }
            });
         }
         
         function result(status) {
            $("#dialog").dialog("close");
        }
    </script>
</block>
