<extend name="Public/base"/>
<block name="style">
    <link href="__STATIC__/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <link href="__CSS__/bootstrap_form.css" rel="stylesheet">
</block>

<block name="body">
    <div class="main-title">
        <h2>编辑餐厅员工</h2>
    </div>

    <div id="dialog" title="编辑餐厅员工" style="display:none;">
        <p id="dialog_content"></p>
    </div>
    <form  novalidate  class="form-horizontal" class="ng-app:weiapp_dining" ng-app="weiapp_dining" id="ng-app"  name="DiningMemberForm" ng-controller="DiningMemberController" ng-submit="submitForm()">
        
        <div class="form-item" ng-class="{'has-error' : DiningMemberForm.dining_room_id.$invalid && !DiningMemberForm.dining_room_id.$pristine}">
            <label class="item-label">所属餐厅<span class="check-tips">（将用户归为餐厅员工）</span></label>
            <div class="controls">
                <select class="form-control" name="dining_room_id" required ng-model="dining_member.dining_room_id" ng-options="m.id as m.dining_name for m in dining_member.dining_room_arr">
                    <option value="">请选择</option>
                </select>
                <p ng-show="DiningMemberForm.dining_room_id.$invalid && !DiningMemberForm.dining_room_id.$pristine" class="help-block">请选择所属餐厅</p>
            </div>
        </div>

        <div class="form-item" ng-class="{'has-error' : DiningMemberForm.real_name.$invalid && !DiningMemberForm.real_name.$pristine}">
            <label class="item-label">真实姓名<span class="check-tips">（*必填:最大长度20）</span></label>
            <div class="controls">
                <input name="real_name" type="text" value="" ng-model="dining_member.real_name"  ng-pattern="/^[\u0391-\uFFE5]|\w{1,20}$/" ng-trim="true" ng-minlength="1" ng-maxlength="20" required class="form-control text input-large" id="dining_name" placeholder="真实姓名">
                <p ng-show="DiningMemberForm.dining_name.$invalid && !DiningMemberForm.dining_name.$pristine" class="help-block">真实姓名(长度1-20)</p>
            </div>
        </div>
        
        <div class="form-item" ng-class="{'has-error' : DiningMemberForm.mobile.$invalid && !DiningMemberForm.mobile.$pristine}">
            <label class="item-label">手机<span class="check-tips"></span></label>
            <div class="controls">
                <input name="mobile" type="text" value="" ng-model="dining_member.mobile"  ng-pattern="/^1\d{10}$/" ng-trim="true" ng-minlength="1" ng-maxlength="11"  class="form-control text input-large" id="mobile" placeholder="手机">
                <p ng-show="DiningMemberForm.mobile.$invalid && !DiningMemberForm.mobile.$pristine" class="help-block">手机</p>
            </div>
        </div>


        <div class="form-item">
            <button type="submit" class="btn btn-success submit" ng-disabled="DiningMemberForm.$invalid">保 存</button>
            <button class="btn btn-primary" onclick="javascript:history.back(-1);
                            return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="__STATIC__/bootstrap/js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="__STATIC__/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="__STATIC__/bootstrap/js/html5shiv.js"></script>
    <script type="text/javascript" src="__STATIC__/json2.js"></script>
    <script type="text/javascript" src="__STATIC__/angularjs/angular.js"></script>
    <script type="text/javascript">
                var DiningMemberModule = angular.module("weiapp_dining", []);
                DiningMemberModule.controller("DiningMemberController", function ($scope, $http) {
                    $scope.dining_member = {$json_dining_member};
                    $scope.dining_member.dining_room_arr = {$dining_room_arr};
                    $scope.dining_member.dining_room_id = {$selected_dining_room_id};
                    $scope.submitForm = function () {
                        $('.submit').attr('disabled', 'true');
                        $http({
                            method: "POST",
                            url: "/Admin/DiningMember/edit",
                            data: $.param($scope.dining_member),
                            headers: {'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'}
                        }).success(function (data) {
                            if (data.status) {
                                $('#dialog_content').text(data.info);
                                $("#dialog").dialog({modal: true});
                                setTimeout("result(" + data.status + ")", 1000);
                            } else {
                                $('#dialog_content').text(data.info);
                                $("#dialog").dialog({modal: true});
                                setTimeout("result(" + data.status + ")", 1000);
                            }
                        });
                    };
                });
                function result(status) {
                    $("#dialog").dialog("close");
                    $('.submit').removeAttr("disabled");
//                    if (status) {
//                        $('.submit').removeAttr("disabled");
//                    } else {
//                        $('.submit').removeAttr("disabled");
//                    }
                }
    </script>
</block>
