<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>微信公众平台列表</h2>
    </div>

    <div class="cf">
        <button class="btn ajax-post" url="{:U('MicroPlatform/enable')}" target-form="ids">启 用</button>
        <button class="btn ajax-post" url="{:U('MicroPlatform/disable')}" target-form="ids">禁用</button>
        <button class="btn ajax-post" url="{:U('MicroPlatform/chain')}" target-form="ids">设为连锁</button>
        <button class="btn ajax-post" url="{:U('MicroPlatform/notchain')}" target-form="ids">设为非连锁</button>

        <!-- 高级搜索 -->
        <div class="search-form fr cf">
            <div class="sleft">
                <input type="text" name="mp_name" class="search-input" value="{:I('mp_name')}" placeholder="请输入微信公众平台名称">
                <a class="sch-btn" href="javascript:;" id="search" url="{:U('MicroPlatform/index')}"><i class="btn-search"></i></a>
            </div>
        </div>
    </div>

    <div class="data-table table-striped">
        <table>
            <thead>
                <tr>
                    <th class="row-selected">
                        <input class="checkbox check-all" type="checkbox">
                    </th>
                    <th>平台名称</th>
                    <th>平台微信号</th>
                    <th>平台类型</th>
                    <th>已绑定</th>
                    <th>连锁</th>
                    <th>状态</th>
                    <th>账户金额</th>
                    <th>开始时间</th>
                    <th>截至时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            <notempty name="list">
                <volist name="list" id="platform">
                    <tr>
                        <td><input class="ids row-selected" type="checkbox" name="id[]" value="{$platform.id}"></td>
                        <td>{$platform.mp_name}</td>
                        <td>{$platform.mp_wxcode}</td>
                        <td>
                            <?php
                            echo \Admin\Model\MicroPlatformModel::getMpAppType($platform['app_type']);
                            ?>
                        </td>
                        <td>
                            <?php
                            echo \Admin\Model\MicroPlatformModel::getMpBind($platform['is_bind']);
                            ?>
                        </td>
                        <td>
                            <?php
                            echo \Admin\Model\MicroPlatformModel::getMpChain($platform['is_chain']);
                            ?>
                        </td>
                        <td>
                            <?php
                            echo \Admin\Model\MicroPlatformModel::getMpStatus($platform['status']);
                            ?>
                        </td>
                        <td>{$platform.account}</td>
                    <if condition="$platform.start_time neq 0">
                        <td>{$platform.start_time|date="Y-m-d H:i:s",###}</td>
                        <else />
                        <td>{$platform.start_time}</td>
                    </if>
                    <if condition="$platform.start_time neq 0">
                        <td>{$platform.end_time|date="Y-m-d H:i:s",###}</td>
                        <else />
                        <td>{$platform.end_time}</td>
                    </if>
                    <td>
                        <a title="详细" href="{:U('detail?id='.$platform['id'])}">详细</a>
                    </td>
                    </tr>
                </volist>
                <else/>
                <td colspan="11" class="text-center">未检索微信公众平台信息</td>
            </notempty>
            </tbody>
        </table>
        <!-- 分页 -->
        <div class="page">
            {$_page}
        </div>
    </div>
</block>

<block name="script">
    <script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

    <script type="text/javascript">
        $(function () {
            //搜索功能
            $("#search").click(function () {
                var url = $(this).attr('url');
                var query = $('.search-form').find('input').serialize();
                query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
                query = query.replace(/^&/g, '');
                if (url.indexOf('?') > 0) {
                    url += '&' + query;
                } else {
                    url += '?' + query;
                }
                window.location.href = url;
            });
            //回车搜索
            $(".search-input").keyup(function (e) {
                if (e.keyCode === 13) {
                    $("#search").click();
                    return false;
                }
            });
        });
    </script>
</block>