<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta name="keywords" content="{:C('WEB_SITE_KEYWORD')}">
<meta name="description" content="{:C('WEB_SITE_DESCRIPTION')}">
<title>{$meta_title}<?php if(C('WEB_SITE_TITLE')){echo '|',C('WEB_SITE_TITLE');}?></title>
<link href="__STATIC__/jquery-ui/jquery-ui.min.css" rel="stylesheet">
<link href="__STATIC__/bootstrap-3.3.2/css/bootstrap.min.css" rel="stylesheet">
<link href="__STATIC__/bootstrap-3.3.2/Font-Awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="__CSS__/common.css" rel="stylesheet">
<block name="style"></block>
<script type="text/javascript" src="__STATIC__/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="__STATIC__/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="__STATIC__/bootstrap-3.3.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__STATIC__/json2.js"></script>
<script type="text/javascript" src="__STATIC__/angularjs/angular.min.js"></script>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    var appId = '<?php echo $signPackage["appId"];?>';
    var timestamp = <?php if($signPackage["timestamp"]){echo $signPackage["timestamp"];}else{echo '0';};?>;
    var nonceStr = '<?php echo $signPackage["nonceStr"];?>';
    var signature = '<?php echo $signPackage["signature"];?>';

    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: appId, // 必填，公众号的唯一标识
        timestamp: timestamp, // 必填，生成签名的时间戳
        nonceStr: nonceStr, // 必填，生成签名的随机串
        signature: signature,// 必填，签名，见附录1
        jsApiList: [
            'checkJsApi',
            'onMenuShareTimeline',
            'onMenuShareAppMessage',
            'onMenuShareQQ',
            'onMenuShareWeibo'
        ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });
    wx.ready(function(){
        var title = '<?php echo $share_info["title"];?>';
        var desc = '<?php echo $share_info["desc"];?>';
        var link = '<?php echo $share_info["link"];?>';
        var imgUrl = '<?php echo $share_info["imgUrl"];?>';	   

        wx.onMenuShareAppMessage({
            title: title,
            desc: desc,
            link: link,
            imgUrl: imgUrl,
            trigger: function (res) {
      //        alert('用户点击发送给朋友');
            },
            success: function (res) {
//		  alert('已分享');
            },
            cancel: function (res) {
//		  alert('已取消');
            },
            fail: function (res) {
              alert(JSON.stringify(res));
            }
          });

          wx.onMenuShareTimeline({
            title: title,
            link: link,
            imgUrl: imgUrl,
            trigger: function (res) {
      //        alert('用户点击分享到朋友圈');
            },
            success: function (res) {
//		  alert('已分享');
            },
            cancel: function (res) {
//		  alert('已取消');
            },
            fail: function (res) {
              alert(JSON.stringify(res));
            }
          });

          wx.onMenuShareQQ({
            title: title,
            desc: desc,
            link: link,
            imgUrl: imgUrl,
            trigger: function (res) {
      //        alert('用户点击分享到QQ');
            },
            complete: function (res) {
//		  alert(JSON.stringify(res));
            },
            success: function (res) {
//		  alert('已分享');
            },
            cancel: function (res) {
//		  alert('已取消');
            },
            fail: function (res) {
              alert(JSON.stringify(res));
            }
          });

          wx.onMenuShareWeibo({
            title: title,
            desc: desc,
            link: link,
            imgUrl: imgUrl,
            trigger: function (res) {
      //        alert('用户点击分享到微博');
            },
            complete: function (res) {
//		  alert(JSON.stringify(res));
            },
            success: function (res) {
//		  alert('已分享');
            },
            cancel: function (res) {
//		  alert('已取消');
            },
            fail: function (res) {
              alert(JSON.stringify(res));
            }
          });
    });
    
    $(function () {
        var nua = navigator.userAgent
        var isAndroid = (nua.indexOf('Mozilla/5.0') > -1 && nua.indexOf('Android ') > -1 && nua.indexOf('AppleWebKit') > -1 && nua.indexOf('Chrome') === -1)
        if (isAndroid) {
            $('select.form-control').removeClass('form-control').css('width', '100%')
        }
    })
</script>
<!-- 页面header钩子，一般用于加载插件CSS文件和代码 -->
{:hook('pageHeader')}