<extend name="Base/common"/>
<block name="style">
    <link href="__CSS__/foodorder_index.css" rel="stylesheet">
</block>
<block name="header">

</block>

<block name="body">
    <div class="row" style="margin-top:10px;">
        <div class="col-xs-12">
            <div class="thumbnail">
                <if condition="$comment.type eq 1">
                <img src="<?php echo \Admin\Model\FoodDetailModel::getFoodPic($comment['food_setmenu_id']); ?>" alt="" id="dining_img">
                <else />
                <img src="<?php echo \Admin\Model\FoodSetmenuModel::getFoodSetmenuUrl($comment['food_setmenu_id']); ?>" alt="" id="dining_img">
                </if>
                <div class="caption">
                    <h3>{$comment.food_setmenu_name}</h3>
                    <p><i class="fa fa-comments"></i>:{$comment.create_time|date='Y-m-d H:i:s',###} <?php echo \Admin\Model\FoodCommentModel::getFoodCommentStatus($comment['status']);?></p>
                    <p>
                        {$comment.comment}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12" style="text-align: center;">{$page}</div>
    </div>
</block>

<block name="script">

</block>
