<extend name="Base/common"/>
<block name="style">
    <style type="text/css">

    </style>
</block>
<block name="header">

</block>

<block name="body">
    <div class="row" style="margin-top:10px;">
        <div class="col-xs-12">
            <div style="text-align:center;color:#999;">
                <i class="fa fa-shopping-cart fa-5x"></i>
            </div>
            <div class="caption">
                <p style="text-align:center;color:#999;">
                    点餐车空空如也，快去点餐吧!
                </p>
                <p style="text-align:center;">
                    <a href="/Wechat/index/index/t/{$mp.mp_token}" class="btn btn-danger" role="button"><i class="fa fa-cutlery"></i> 去点餐</a>
                </p>
            </div>
        </div>
    </div>
</block>

<block name="script">
    <!--    <script type="text/javascript">
            $(function () {
                $('.carousel').carousel();
                $('.carousel').carousel({
                    interval: 2000
                })
            });
        </script>-->
</block>
