hr{
    margin-top: 5px;
    margin-bottom: 0px;
}

.price{
    text-decoration: line-through;
    color:#999;
}

.weixin_price{
    color:red;
    font-weight: bold;
}

.thumbnail .caption ul li{
    border-left: 0px;
    border-right: 0px;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-weight: bold;
}

.navbar-default .navbar-nav>li>a.btn{
  font-size: 16px;
}

.nav>li>a:focus, .nav>li>a.btn:hover {
  text-decoration: none;
  color:#fff;
  background-color: #ac2925;
}