<extend name="Base/common"/>
<block name="style">
    <style type="text/css">

    </style>
</block>
<block name="header">

</block>

<block name="body">
    <div class="row" style="margin-top:10px;">

        <if condition="$foods neq ''">
            <volist name="foods" id="food">
                <div class="col-xs-6">
                    <div class="thumbnail" style="height:370px;">
                        <if condition="$food.url eq ''">
                            <img src="{$mp.mp_img}" alt="" style="height:200px;">
                            <else />
                            <img src="{$food.url}" alt="" style="height:200px;">
                        </if>
                        <div class="caption">
                            <h4>{$food.food_name}</h4>
                            <p>
                            <if condition="$food.dining_room_id eq 0">
                                所有门店通用<br>
                                <else />
                                <a href=""><?php echo \Admin\Model\DiningRoomModel::getDiningRoomName($food['dining_room_id']); ?> <i class="fa fa-location-arrow"></i></a><br>
                            </if>
                            <span style="text-decoration: line-through;color:#999;">原价:￥{$food.price}</span><br>微信价:<i class="fa fa-cny"></i>{$food.weixin_price}
                            </p>
                            <p style="text-align:center;">
                                <a href="/Wechat/food/view/id/{$food.id}/t/{$mp.mp_token}" class="btn btn-success btn-sm" role="button"><i class="fa fa-shopping-cart"></i> 加入餐车</a>
                                <a href="/Wechat/food/view/id/{$food.id}/t/{$mp.mp_token}" class="btn btn-success btn-sm" role="button"><i class="fa fa-search-plus"></i> 查看</a>
                            </p>
                        </div>
                    </div>
                </div>
            </volist>
            <else />
            <div class="col-xs-12" style="text-align: center;">本店即将上线菜品,请稍等待...</div>
        </if>
        <div class="col-xs-12" style="text-align: center;">{$page}</div>
    </div>

</block>

<block name="script">
    <!--    <script type="text/javascript">
            $(function () {
                $('.carousel').carousel();
                $('.carousel').carousel({
                    interval: 2000
                })
            });
        </script>-->
</block>
