<extend name="Public/base"/>
<block name="style">
    <link href="__STATIC__/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <link href="__CSS__/bootstrap_form.css" rel="stylesheet">
</block>

<block name="body">
    <div class="main-title">
        <h2>编辑门店美食(带*并标注的为必填项)</h2><br>
    </div>
    <h5>推广链接:<span style="color:red;">http://www.52gdp.com/Wechat/Food/view/t/{$mp.mp_token}/id/{$food.id}</span></h5>

    <div id="dialog" title="门店美食" style="display:none;">
        <p id="dialog_content"></p>
    </div>
    <form  novalidate  class="form-horizontal" class="ng-app:weiapp_food" ng-app="weiapp_food" id="ng-app"  name="FoodForm" ng-controller="FoodController" ng-submit="submitForm()">
        <div class="form-item" ng-class="{'has-error' : FoodForm.food_name.$invalid && !FoodForm.food_name.$pristine}">
            <label class="item-label">美食名<span class="check-tips">（*必填:最大长度30）</span></label>
            <div class="controls">
                <input name="food_name" type="text" value="" ng-model="food.food_name"  ng-pattern="/^(.*){1,30}$/" ng-trim="true" ng-minlength="1" ng-maxlength="20" required class="form-control text input-large" id="food_name" placeholder="门店美食名">
                <p ng-show="FoodForm.food_name.$invalid && !FoodForm.food_name.$pristine" class="help-block">门店美食名(长度1-30)</p>
            </div>
        </div>

        <div class="form-item" ng-class="{'has-error' : FoodForm.dining_room_id.$invalid && !FoodForm.dining_room_id.$pristine}">
            <label class="item-label">所属门店<span class="check-tips">（*必填）</span></label>
            <div class="controls">
                <select class="form-control" name="dining_room_id" required ng-model="food.dining_room_id" ng-change="select_dining(food.dining_room_id)" ng-options="m.id as m.dining_name for m in food.dining_room_arr">
                    <option value="">请选择</option>
                </select>
                <p ng-show="FoodForm.dining_room_id.$invalid && !FoodForm.dining_room_id.$pristine" class="help-block">请选择所属门店</p>
            </div>
        </div>
        
        <div class="form-item" ng-class="{'has-error' : FoodForm.cate_id.$invalid && !FoodForm.cate_id.$pristine}">
            <label class="item-label">所属美食分类<span class="check-tips">（*必填）</span></label>
            <div class="controls">
                <select class="form-control" name="cate_id" required ng-model="food.cate_id" ng-options="m.id as m.cate_name for m in food.cate_arr">
                    <option value="">请选择</option>
                </select>
                <p ng-show="FoodForm.cate_id.$invalid && !FoodForm.cate_id.$pristine" class="help-block">请选择所属美食分类</p>
            </div>
        </div>

        <div class="form-item" ng-class="{'has-error' : FoodForm.price.$invalid && !FoodForm.price.$pristine}">
            <label class="item-label">美食原价<span class="check-tips">（*必填）</span></label>
            <div class="controls">
                <input name="price" type="text" value="" ng-model="food.price"  ng-pattern="/^\d+(\.\d+)?$/" ng-trim="true" ng-minlength="1" ng-maxlength="20" required class="form-control text input-large" id="price" placeholder="美食原价">
                <p ng-show="FoodForm.price.$invalid && !FoodForm.price.$pristine" class="help-block">门店美食原价应为数字</p>
            </div>
        </div>

        <div class="form-item" ng-class="{'has-error' : FoodForm.weixin_price.$invalid && !FoodForm.weixin_price.$pristine}">
            <label class="item-label">美食微信销售价格<span class="check-tips">（*必填）</span></label>
            <div class="controls">
                <input name="weixin_price" type="text" value="" ng-model="food.weixin_price"  ng-pattern="/^\d+(\.\d+)?$/" ng-trim="true" ng-minlength="1" ng-maxlength="20" required class="form-control text input-large" id="weixin_price" placeholder="美食微信销售价格">
                <p ng-show="FoodForm.weixin_price.$invalid && !FoodForm.weixin_price.$pristine" class="help-block">美食微信销售价格应为数字</p>
            </div>
        </div>
        
        <div class="form-item" ng-class="{'has-error' : FoodForm.cost_price.$invalid && !FoodForm.cost_price.$pristine}">
            <label class="item-label">美食成本价格<span class="check-tips"></span></label>
            <div class="controls">
                <input name="cost_price" type="text" value="" ng-model="food.cost_price"  ng-pattern="/^\d+(\.\d+)?$/" ng-trim="true" ng-minlength="1" ng-maxlength="20"  class="form-control text input-large" id="weixin_price" placeholder="美食成本价格">
                <p ng-show="FoodForm.cost_price.$invalid && !FoodForm.cost_price.$pristine" class="help-block">微信成本价应为数字</p>
            </div>
        </div>
        
        <div class="form-item" ng-class="{'has-error' : FoodForm.unit.$invalid && !FoodForm.unit.$pristine}">
            <label class="item-label">美食单位<span class="check-tips">（*必填）</span></label>
            <div class="controls">
                <input name="unit" type="text" value="" ng-model="food.unit"  ng-pattern="/^[\u0391-\uFFE5]|\w{1,10}$/" ng-trim="true" ng-minlength="1" ng-maxlength="10" required class="form-control text input-large" id="unit" placeholder="美食单位">
                <p ng-show="FoodForm.unit.$invalid && !FoodForm.unit.$pristine" class="help-block">美食单位必填</p>
            </div>
        </div>
        
        <div class="form-item" ng-class="{'has-error' : FoodForm.stock.$invalid && !FoodForm.stock.$pristine}">
            <label class="item-label">美食库存<span class="check-tips">(不填(值为-1)为填则默认库存不限制)</span></label>
            <div class="controls">
                <input name="stock" type="text" value="{$food.stock}" ng-model="food.stock"  ng-pattern="/^(-?\d+)(\.\d+)?$/" ng-trim="true" ng-minlength="1" ng-maxlength="20"  class="form-control text input-large" id="stock" placeholder="美食库存">
                <p ng-show="FoodForm.stock.$invalid && !FoodForm.stock.$pristine" class="help-block">美食库存应为数字</p>
            </div>
        </div>
        
        <div class="form-item" ng-class="{'has-error' : FoodForm.description.$invalid && !FoodForm.description.$pristine}">
            <label class="item-label">美食描述<span class="check-tips">（*必填）</span></label>
            <div class="controls">
                <!--<input name="unit" type="text" value="" ng-model="food.unit"  ng-pattern="/^[\u0391-\uFFE5]|\w{1,10}$/" ng-trim="true" ng-minlength="1" ng-maxlength="10" required class="form-control text input-large" id="unit" placeholder="美食单位">-->
                <div class="ueditor" config="config" ng-model="food.description" ng-minlength="1" ng-trim="true" required ></div>
                <p ng-show="FoodForm.description.$invalid && !FoodForm.description.$pristine" class="help-block">美食描述必填</p>
            </div>
        </div>
        
        <div class="form-item" ng-class="{'has-error' : FoodForm.is_hot.$invalid && !FoodForm.is_hot.$pristine}">
            <label class="item-label">是否热销美食<span class="check-tips">(默认为非热销商品)</span></label>
            <div class="controls">
                <select class="form-control" name="is_hot"  ng-model="food.is_hot" ng-options="m.id as m.hot_name for m in food.hot_arr">
                    <option value="">请选择</option>
                </select>
                <p ng-show="FoodForm.is_hot.$invalid && !FoodForm.is_hot.$pristine" class="help-block">请选择是否热销美食</p>
            </div>
        </div>
        
        <div class="form-item" ng-class="{'has-error' : FoodForm.is_promotion.$invalid && !FoodForm.is_promotion.$pristine}">
            <label class="item-label">是否促销美食<span class="check-tips">(默认为非促销商品)</span></label>
            <div class="controls">
                <select class="form-control" name="is_promotion"  ng-model="food.is_promotion" ng-options="m.id as m.promotion_name for m in food.promotion_arr">
                    <option value="">请选择</option>
                </select>
                <p ng-show="FoodForm.is_promotion.$invalid && !FoodForm.is_promotion.$pristine" class="help-block">请选择是否促销美食</p>
            </div>
        </div>
        
        <div class="form-item" ng-class="{'has-error' : FoodForm.style_id.$invalid && !FoodForm.style_id.$pristine}">
            <label class="item-label">美食风格<span class="check-tips"></span></label>
            <div class="controls">
                <select class="form-control" name="style_id"  ng-model="food.style_id" ng-options="m.id as m.food_style_name for m in food.food_styles_arr">
                    <option value="">请选择</option>
                </select>
                <p ng-show="FoodForm.style_id.$invalid && !FoodForm.style_id.$pristine" class="help-block">请选择美食风格</p>
            </div>
        </div>
        
        <div class="form-item" ng-class="{'has-error' : FoodForm.is_offline.$invalid && !FoodForm.is_offline.$pristine}">
            <label class="item-label">是否允许餐到付款<span class="check-tips">(默认为允许餐到付款)</span></label>
            <div class="controls">
                <select class="form-control" name="is_offline" ng-model="food.is_offline" ng-options="m.id as m.offline_name for m in food.offline_arr">
                    <option value="">请选择</option>
                </select>
                <p ng-show="FoodForm.is_offline.$invalid && !FoodForm.is_offline.$pristine" class="help-block">请选择是否允许餐到付款</p>
            </div>
        </div>
        
        <div class="form-item" ng-class="{'has-error' : FoodForm.use_card.$invalid && !FoodForm.use_card.$pristine}">
            <label class="item-label">是否允许使用卡劵<span class="check-tips">(默认为允许使用卡劵)</span></label>
            <div class="controls">
                <select class="form-control" name="use_card"  ng-model="food.use_card" ng-options="m.id as m.card_name for m in food.card_arr">
                    <option value="">请选择</option>
                </select>
                <p ng-show="FoodForm.use_card.$invalid && !FoodForm.use_card.$pristine" class="help-block">请选择是否允许使用卡劵</p>
            </div>
        </div>
        
        <div class="form-item" ng-class="{'has-error' : FoodForm.status.$invalid && !FoodForm.status.$pristine}">
            <label class="item-label">美食状态<span class="check-tips">(默认为美食状态为上架)</span></label>
            <div class="controls">
                <select class="form-control" name="status"  ng-model="food.status" ng-options="m.id as m.status_name for m in food.status_arr">
                    <option value="">请选择</option>
                </select>
                <p ng-show="FoodForm.status.$invalid && !FoodForm.status.$pristine" class="help-block">请选择美食状态</p>
            </div>
        </div>
        
        <div class="form-item" ng-class="{'has-error' : FoodForm.share_title.$invalid && !FoodForm.share_title.$pristine}">
            <label class="item-label">微信朋友圈分享显示标题<span class="check-tips">（默认分享标题为美食名称）</span></label>
            <div class="controls">
                <input name="share_title" type="text" value="" ng-model="food.share_title"  ng-pattern="/^[\u0391-\uFFE5]|\w{1,60}$/" ng-trim="true" ng-minlength="1" ng-maxlength="60" class="form-control text input-large" id="share_title" placeholder="微信朋友圈分享显示标题">
                <p ng-show="FoodForm.share_title.$invalid && !FoodForm.share_title.$pristine" class="help-block">微信朋友圈分享显示标题(长度1-60)</p>
            </div>
        </div>
        
        
        <div class="form-item" ng-class="{'has-error' : FoodForm.share_desc.$invalid && !FoodForm.share_desc.$pristine}">
            <label class="item-label">微信朋友圈分享显示描述<span class="check-tips">（默认分享标题为美食名称）</span></label>
            <div class="controls">
                <input name="share_desc" type="text" value="" ng-model="food.share_desc"  ng-pattern="/^[\u0391-\uFFE5]|\w{1,128}$/" ng-trim="true" ng-minlength="1" ng-maxlength="128" class="form-control text input-large" id="share_desc" placeholder="微信朋友圈分享显示描述">
                <p ng-show="FoodForm.share_desc.$invalid && !FoodForm.share_desc.$pristine" class="help-block">微信朋友圈分享显示描述(长度1-128)</p>
            </div>
        </div>
        
        <div class="form-item">
            <button type="submit" class="btn btn-success submit" ng-disabled="FoodForm.$invalid">保 存</button>
            <button class="btn btn-primary" onclick="javascript:history.back(-1);
                        return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="__STATIC__/bootstrap/js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="__STATIC__/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="__STATIC__/bootstrap/js/html5shiv.js"></script>
    <script type="text/javascript" src="__STATIC__/json2.js"></script>
    <script type="text/javascript" src="__STATIC__/angularjs/angular.js"></script>
    <script type="text/javascript" src="__STATIC__/angularjs-ueditor/ueditor.config.food.js"></script>
    <script type="text/javascript" src="__STATIC__/angularjs-ueditor/ueditor.all.min.js"></script>
    <script type="text/javascript" src="__STATIC__/angularjs-ueditor/angular-ueditor.js"></script>
    <script type="text/javascript">
                var FoodModule = angular.module("weiapp_food", ['ng.ueditor']);
                FoodModule.controller("FoodController", function($scope, $http) {                  
                    $scope.food = {$json_food};
//                    $scope.food.is_hot = {$food.is_hot};
//                    $scope.food.is_promotion = {$food.is_promotion};
//                    $scope.food.style_id = {$food.style_id};
//                    $scope.food.is_offline = {$food.is_offline};
//                    $scope.food.use_card = {$food.use_card};
//                    $scope.food.status = {$food.status};
                    $scope.food.dining_room_arr = {$dining_room_arr};
                    $scope.food.promotion_arr = {$promotion_arr};
                    $scope.food.hot_arr = {$hot_arr};
                    $scope.food.offline_arr = {$offline_arr};
                    $scope.food.card_arr = {$card_arr};
                    $scope.food.status_arr = {$status_arr};
                    $scope.food.food_styles_arr = {$food_styles_arr};
                    $scope.food.cate_arr = {$food_cate_arr};
                    $scope.select_dining = function(selected_dining_room_id){
                        if(typeof(selected_dining_room_id) != 'undefined'){
                            $scope.cate_data={'select_dining_room_id':selected_dining_room_id};
                            $http({
                                method: "POST",
                                url: "/Admin/Food/cate",
                                data: $.param($scope.cate_data),
                                headers: {'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'}
                            }).success(function (data) {
                                if (data.status) {
                                    $scope.food.cate_arr = data.info;
                                } else {
                                    $scope.food.cate_arr = {};
                                    $('#dialog_content').text(data.info);
                                    $("#dialog").dialog({modal: true});
                                    setTimeout("result(" + data.status + ")", 1000);
                                }
                            });
                        }
                    }
                    $scope.submitForm = function() {
                        $('.submit').attr('disabled', 'true');
                        $http({
                            method: "POST",
                            url: "/Admin/Food/edit",
                            data: $.param($scope.food),
                            headers: {'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'}
                        }).success(function(data) {
                            if (data.status) {
                                $('#dialog_content').text(data.info);
                                $("#dialog").dialog({modal: true});
                                setTimeout("result(" + data.status + ")", 1000);
                            } else {
                                $('#dialog_content').text(data.info);
                                $("#dialog").dialog({modal: true});
                                setTimeout("result(" + data.status + ")", 1000);
                            }
                        });
                    };
                });
                function result(status) {
                    $("#dialog").dialog("close");
                    $('.submit').removeAttr("disabled");
                }
    </script>
</block>