<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>微餐饮菜品列表</h2>
    </div>

    <div class="cf">
        <!--        <button class="btn ajax-post" url="{:U('MicroPlatform/enable')}" target-form="ids">启 用</button>
                <button class="btn ajax-post" url="{:U('MicroPlatform/disable')}" target-form="ids">禁用</button>-->

        <!-- 高级搜索 -->
        <div class="search-form fr cf">
            <div class="sleft">
                <input type="text" name="food_name" class="search-input" value="{:I('food_name')}" placeholder="请输入菜品名称">
                <a class="sch-btn" href="javascript:;" id="search" url="{:U('Food/index')}"><i class="btn-search"></i></a>
            </div>
        </div>
    </div>

    <div class="data-table table-striped">
        <table>
            <thead>
                <tr>
                    <th>微信平台</th>
                    <th>餐厅名</th>
                    <th>分类名</th>
                    <th>原价</th>
                    <th>微信价</th>
                    <th>销售数量</th>
                    <th>状态</th>
                    <th>创建时间</th>
                </tr>
            </thead>
            <tbody>
            <notempty name="list">
                <volist name="list" id="food">
                    <tr>
                        <td>
                            <?php
                            echo \Admin\Model\MicroPlatformModel::getMpName($food['mp_id']);
                            ?>
                        </td>
                        <td>
                            {$food.dining_name}
                        </td>
                        <td>
                            {$food.cate_name}
                        </td>
                        <td>{$food.price}</td>
                        <td>{$food.weixin_price}</td>
                        <td>{$food.sell_count}</td>
                        <td>
                            <?php
                            echo \Admin\Model\FoodModel::getFoodStatus($food['status']);
                            ?>
                        </td>
                    <if condition="$food.create_time neq 0">
                        <td>{$food.create_time|date="Y-m-d H:i:s",###}</td>
                        <else />
                        <td>{$food.create_time}</td>
                    </if>
                    </tr>
                </volist>
                <else/>
                <td colspan="8" class="text-center">未检索到菜品信息</td>
            </notempty>
            </tbody>
        </table>
        <!-- 分页 -->
        <div class="page">
            {$_page}
        </div>
    </div>
</block>

<block name="script">
    <script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

    <script type="text/javascript">
        $(function () {
            //搜索功能
            $("#search").click(function () {
                var url = $(this).attr('url');
                var query = $('.search-form').find('input').serialize();
                query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
                query = query.replace(/^&/g, '');
                if (url.indexOf('?') > 0) {
                    url += '&' + query;
                } else {
                    url += '?' + query;
                }
                window.location.href = url;
            });
            //回车搜索
            $(".search-input").keyup(function (e) {
                if (e.keyCode === 13) {
                    $("#search").click();
                    return false;
                }
            });
        });
    </script>
</block>